root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = false

# Python files
[*.{py, pyi, pyc, pyd, pyo, pyw, pyz}]
indent_size = 4