[submodule "doc/scipy-sphinx-theme"]
	path = doc/scipy-sphinx-theme
	url = https://github.com/scipy/scipy-sphinx-theme
[submodule "docs/scipy-sphinx-theme"]
	path = docs/scipy-sphinx-theme
	url = https://github.com/scipy/scipy-sphinx-theme
