ablog==0.10.4             # via comptox_ai (setup.py)
alabaster==0.7.12         # via ablog, sphinx
ansicon==1.89.0           # via jinxed
babel==2.8.0              # via sphinx
backcall==0.1.0           # via ipython
blessed==1.17.4           # via comptox_ai (setup.py)
certifi==2020.4.5.1       # via py2neo, requests
chardet==3.0.4            # via requests
click==7.0                # via py2neo
codecov==2.0.15
colorama==0.4.3           # via py2neo, sphinx
decorator==4.4.2          # via networkx
docutils==0.16            # via sphinx
idna==2.9                 # via requests
imagesize==1.2.0          # via sphinx
invoke==1.4.1             # via ablog
ipdb==0.13.2              # via comptox_ai (setup.py)
ipython-genutils==0.2.0   # via traitlets
ipython==7.13.0           # via ipdb
isodate==0.6.0            # via rdflib
jedi==0.16.0              # via ipython
jinja2==2.11.3            # via numpydoc, sphinx
jinxed==1.0.0             # via blessed
markupsafe==1.1.1         # via jinja2
neo4j==1.7.6              # via comptox_ai (setup.py)
neobolt==1.7.16           # via neo4j, py2neo
neotime==1.7.4            # via neo4j, py2neo
networkx==2.4             # via comptox_ai (setup.py)
numpy==1.20.3             # via comptox_ai (setup.py), pandas, scipy
numpydoc==0.9.2           # via comptox_ai (setup.py)
owlready2==0.23           # via comptox_ai (setup.py)
packaging==20.3           # via sphinx
pandas==1.2.4             # via comptox_ai (setup.py)
parso==0.6.2              # via jedi
pathtools==0.1.2          # via watchdog
pickleshare==0.7.5        # via ipython
prompt-toolkit==2.0.10    # via ipython, py2neo
py2neo==4.3.0             # via comptox_ai (setup.py)
pygments==2.7.4           # via py2neo, sphinx
pyparsing==2.4.7          # via packaging
pytest==5.3.1
pytest-cov==2.8.1
python-dateutil==2.8.1    # via ablog, pandas
pytz==2019.3              # via babel, neotime, pandas, py2neo
rdflib==4.2.2             # via comptox_ai (setup.py)
requests==2.23.0          # via sphinx
scipy==1.4.1              # via comptox_ai (setup.py)
six==1.14.0               # via blessed, isodate, neotime, packaging, prompt-toolkit, python-dateutil, traitlets
snowballstemmer==2.0.0    # via sphinx
sphinx-automodapi==0.12   # via ablog
sphinx==3.0.0             # via ablog, comptox_ai (setup.py), numpydoc, sphinx-automodapi
sphinxcontrib-applehelp==1.0.2  # via sphinx
sphinxcontrib-devhelp==1.0.2  # via sphinx
sphinxcontrib-htmlhelp==1.0.3  # via sphinx
sphinxcontrib-jsmath==1.0.1  # via sphinx
sphinxcontrib-qthelp==1.0.3  # via sphinx
sphinxcontrib-serializinghtml==1.1.4  # via sphinx
traitlets==4.3.3          # via ipython
urllib3==1.24.3           # via py2neo, requests
watchdog==0.10.2          # via ablog
wcwidth==0.1.9            # via blessed, prompt-toolkit
werkzeug==0.16.1          # via ablog

# Manual additions:
pyyaml==5.4
pymongo==3.11.3