@import url('https://fonts.googleapis.com/css?family=Open+Sans:wght@400,700|Open+Sans+Condensed:300|Roboto|Roboto+Condensed|Roboto+Mono&display=swap');

@font-face {
    font-family: 'cmu_serifroman';
    src: url('../fonts/cmunrm-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'cmu_sans_serifbold';
    src: url('../fonts/cmunsx-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'cmu_typewriter_textregular';
    src: url('../fonts/cmuntt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a {
    color: #2878A2;
    word-wrap: break-word;
}

body h1 {
    text-align: center;
    background-color: #dddddd;
    border-radius: 3px;
    font-family: 'cmu_sans_serifbold', sans-serif;
    padding-top: 4px;
}

body h2 {
    font-family: 'cmu_sans_serifbold', sans-serif;
    font-size: 28px;
}

body h3 {
    font-family: 'cmu_sans_serifbold', sans-serif;
    font-size: 18px;
}

code {
    color: #222;
    background-color: #ecf0f3;
    border-radius: 2px;
    white-space: nowrap;
    padding: 0.15rem;
}

code.descname {
    font-weight: bold;
    background-color: transparent;
    padding: 0;
}

code.descclassname {
    background-color: transparent;
}

div.admonition {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 7px;
    background-color: #ffc;
    border: 1px solid #ff6;
    font-size: 11pt;
}

div.highlight {
    padding: 0.2rem 0.5rem;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

div.page-content h2 {
    padding: 0.5rem;
    background-color: #c5d5ea;
    border-radius: 0.3rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    word-wrap: break-word;
}

div.sidebar-toc-wrapper {
    font-size: 0.9rem;
    width: 252px;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
    padding-right: 1.75rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

div.sidebar-toc-wrapper::-webkit-scrollbar {
    display: none;
}

div.sidebar-toc-wrapper::after {
    display: block;
    content: "";
    height: 3rem;
    visibility: hidden;
}

div.sidebar-toc > ul > li > a {
    font-weight: bold;
}

div.sidebar-toc > ul,
div.sidebar-toc ul ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

div.sidebar-toc ul ul ul {
    list-style: square;
    margin-left: 1rem;
}

div.sidebar-toc ul li ul li ul {
    display: none;
}

div.sidebar-toc span {
    white-space: pre;
}

dl {
    font-family: 'Open Sans', sans-serif;
}

dl.citation > dd > ol {
    margin-bottom: 0;
}

dl.citation > dd > ol > li {
    display: inline;
}

dl.field-list {
    display: flex;
    flex-wrap: wrap;
}

dl.field-list > dt {
    flex-basis: 100%;
    font-weight: bold;
    word-break: break-word;
}

dl.field-list > dd {
    flex-basis: 100%;
    margin-bottom: 0;
}

footer {
    padding: 1rem 0;
    color: #999;
    text-align: right;
}

h1, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
}

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
    background-color: transparent;
}

header {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 24;
    height: 116px;
    padding-bottom: 50px;
    text-align: left;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

p {
    font-family: 'Open Sans', sans-serif;
}

p.admonition-title {
    display: inline;
    font-weight: bold;
}

p.admonition-title:after {
    content: ":";
}

pre {
    margin-bottom: 0;
}

table {
    border-collapse: collapse;
}

table.align-default {
    margin-left: auto;
    margin-right: auto;
}

table.docutils {
    margin-bottom: 1rem;
    line-height: 1rem;
    max-width: 100%;
}

table.docutils p {
    margin-bottom: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: initial;
}

table.docutils tr {
    border-style: solid none solid none;
    border-width: 1px 0;
    border-color: #ddd;
}

table.docutils tr:nth-child(odd) {
    background-color: #f0f7fa;
}

table.docutils td, table.docutils th {
    padding: 0.25rem 0.5rem 0.25rem 0.25rem;
}

th {
    text-align: inherit;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.brand-align-mid {
    display: flex;
    align-items: center;
}

.class > dt, .function > dt, .method > dt {
    padding: 0.5rem;
    background-color: #f8f8f8;
    font-weight: normal;
    border: 1px solid rgba(0,0,0,0.125);
    border-left: 2px solid #226b07;
}

.class > dt::after, .function > dt::after, .method > dt::after {
    overflow: auto;
}

.classifier {
    font-style: italic;
}

.classifier::before {
    font-style: normal;
    margin: 0.3rem;
    content: ":";
}

.fa-2x {
    font-size: 2em;
    color: #226b07;
}

.headerlink {
    color: #aaaaaa;

}

.highlight {
    background: #f8f8f8;
}

.navbar {
    align-items: center;
    background-color: #dddddd;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 16px;
    justify-content: flex-start;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    position: relative;
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
}

.navbar-brand {
    box-sizing: border-box;
    color: rgb(34, 107, 7);
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin-right: 16px;
    padding-bottom: 7px;
    padding-top: 5px;
    text-decoration-color: rgb(34,107,7);
    text-decoration-line: none;
    text-decoration-style: solid;
    white-space: nowrap;
    -webkit-box-direction: normal;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.navbar-collapse{
    align-items: center;
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-size-adjust: 100%;
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-flex: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.nav-link {
    background-color: rgba(0,0,0,0);
    color: rgb(34,107,7);
    cursor: pointer;
    display: block;
    padding: 13px;
    text-decoration-color: rgb(34,107,7);
    text-decoration-line: none;
    text-decoration-style: solid;
}

.navbar-nav {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: 400;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-block-end: 0px;
    margin-block-start: 0px;
    margin-bottom: 0px;
    text-align: left;
    text-size-adjust: 100%;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.rubric {
    font-weight: bold;
    margin-top: 1rem;
}

#bootstrap-overrides .nav-link {
    color: rgb(34, 107, 7);
    box-sizing: border-box;
    display: list-item;
}

#icon {
    margin-right: 4px;
}

#logo {
    color: rgb(34, 107, 7);
}

#ont-graph {
    max-width: 100%;
}

#page-content {
    padding-left: 2rem;
    padding-right: 2rem;
}

#page-content-wrapper {
    width: 100%;
}

#page-wrapper {
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 116px;
    margin-bottom: 24px;
}

#sidebar-wrapper {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    position: fixed;
    margin-left: -240px;
    padding: 0 0.5rem 0.5rem 0.5rem;
    z-index: 2;
}

@media screen and (min-width: 768px) {

    dl.field-list > dt {
        flex-basis: 110px;
    }
    
    dl.field-list > dd {
        flex: 1 0 calc(100% - 110px);
        max-width: calc(100% - 110px);
    }

    #page-content-wrapper {
        padding-left: 240px;
        max-width: 1240px;
        margin-left: auto;
        margin-right: auto;
    }

    #sidebar-wrapper {
        margin-left: 0;
        opacity: 1;
    }
}
