@import url('https://fonts.googleapis.com/css?family=Open+Sans:wght@400,700|Open+Sans+Condensed:300|Roboto|Roboto+Condensed|Roboto+Mono&display=swap');

@font-face {
  font-family: 'cmu_serifroman';
  src: url('./fonts/cmunrm-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cmu_sans_serifbold';
  src: url('./fonts/cmunsx-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cmu_typewriter_textregular';
  src: url('./fonts/cmuntt-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.App {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 116px;
  margin-bottom: 24px;
  padding-left: 2rem;
  padding-right: 2rem;
}

h1 {
  text-align: center;
  background-color: #dddddd;
  border-radius: 3px;
  font-family: 'cmu_sans_serifbold', sans-serif;
  padding-top: 4px;
}

h2 {
  font-family: 'cmu_sans_serifbold', sans-serif;
  font-size: 18px;
  padding: 0.5rem;
  background-color: #c5d5ea;
  border-radius: 0.3rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  word-wrap: break-word;
}