@import url('https://fonts.googleapis.com/css?family=Open+Sans:wght@400,700|Open+Sans+Condensed:300|Roboto|Roboto+Condensed|Roboto+Mono&display=swap');

@font-face {
  font-family: 'cmu_serifroman';
  src: url('./fonts/cmunrm-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cmu_sans_serifbold';
  src: url('./fonts/cmunsx-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cmu_typewriter_textregular';
  src: url('./fonts/cmuntt-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.App {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 116px;
  margin-bottom: 24px;
}

h1 {
  text-align: center;
  background-color: #dddddd;
  border-radius: 3px;
  font-family: 'cmu_sans_serifbold', sans-serif;
  padding-top: 4px;
}

h2 {
  font-family: 'cmu_sans_serifbold', sans-serif;
  font-size: 18px;
  padding: 0.5rem;
  background-color: #c5d5ea;
  border-radius: 0.3rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  word-wrap: break-word;
}

.node-detail {
  border: 1px solid gray;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  margin: 6px;
}

.rel-result {
  border-left: 3px solid green;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 5px;
  padding: 8px 6px 4px 6px;
  margin-bottom: 8px;
  background-color: lightgray;
}

.rel-result p {
  margin-top: 0px;
  margin-bottom: 4px;
}

.rel-type {
  padding-bottom: 4px;
}

.tt {
  font-family: monospace 10pt;
}

.node-name {
  font-weight: bold;
}

.node-label {
  border: 1px solid cyan;
  border-radius: 8pt;
  background-color: cyan;
  padding: 1px 5px 1px 5px;
}

.search-header {
  display: flex;
  position: relative;
  margin-bottom: 12px;
}

.search-header .search-text {
  font-size: 1.17em;
  font-weight: bold;
  margin-right: 24px;
}